@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #001b26;
  --background-end-rgb: #001b26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #001b26;
}


h1, h2, h3, h4 {
  color: rgb(250, 13, 218);
  font-size: 2.5em!important;
}

pre {
  color: aqua;
}